*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: white;
}
.container {
    width:100%;
}
#navbar {
    height: 43px;
    margin: 28px 82px 0px 14px;
}
#navbar-left {
    width: 25%;
    float: left;
}
#navbar-left img {
    height: 25px;
    padding-left: 18px;
}
#navbar-right {
    width: 50%;
    float: right;
}
#navbar-center {
    float:center;
}
#navbar-center button img {
    height: 13px;
}
#navbar-center button {
    width: 40px;
    height: 24px;
}
#navbar-right ul li {
    display: inline-block;
    list-style: none;
    padding-left: 40px;
    margin-top: -22px;

}
[type=text] {
    width: 470px;
    height: 20px;

}
.main {
    display:flex;
}
.main-left {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 58%;
    margin: 10px 0px 0px 33px;
}
#image img{
   width: 100%;
}
.main-left-intro {
    margin-top: 11px;
}
.main-left-intro  img {
    height: 14px;
    padding: 2px;
}
.main-left-intro-item {
    float: right;
    margin-top: -21px;
}
.main-left-channel-app {
    float: right;
    margin-top: -36px;
}
.main-left-channel-app button{
    height: 29px;
}
.main-left-writecomment .comments img {
 height: 14px;
}
.main-right {
    display: flex;
    justify-content: right;
    flex-direction: column;
    width: 23%;
    float: right;
    margin-left: 74px;
}
.top {
    display: flex;
}
.top ul {
    display: flex;
    list-style: none;
}
.top ul li {
   margin: 11px 65px 20px 3px;
}
.top ul li img {
    height:20px;
}
#autoplay {
    height: 40px;
    width: 50px;
    position: relative;
    bottom: 10px;
}

#autoplay:hover {
    cursor: pointer;
}

#image-of-next-video {
    height: 109px;
    width: 169px;
}   

#image-of-next-video {
    cursor: pointer;
}

.video-links {
    display: flex;
    margin-bottom: 12px;
  
}

.video-link {
    margin-bottom: 9px;
    margin-left: 14px;
}

.video-link p {
    width: 200%;
}

.video-link #channel-name {
    width: 220%;
}

.right-side hr {
    width: 195%;
    position: relative;
    top: -70px;
}

.video-link p:hover, #channel-name:hover {
    cursor: pointer;
}

h4 {
    color: #595959;
}